<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://media.istockphoto.com/id/1368468185/vector/robot-doodle-5.jpg?s=612x612&w=0&k=20&c=eThLZP2e1-sO5sdcYBwCMcXy3hKlArIO_CvsDe5_usE=" alt="Robot">
    </div>
    
    {{>footer}}
</body>
</html>