body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(220, 239, 246);
}

.main-content{
    flex-grow: 1;
    margin: 0 auto;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;

}

header{
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
    padding: 10px;
}

#mainText{
    padding-bottom: 10px;
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    border-bottom: 1px solid grey;
}

#message-1{
    text-align: center;
    margin-top: 50px;
}

p{
    text-align: center;
}

.portrait{
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgb(43, 59, 64);
}

form{
    text-align: center;
}
input {
    border: 1px solid #cccccc;
    padding: 9px;
    background-color: white;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background-color: #888888;
    color: white;
    padding: 8px;
}

#temperature{
    border: 1px solid #cccccc;
    padding: 8px;
}

#helpTxt{
    font-size: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}